<footer>
  <div class="footer__content">
    <h3>
      Возникли вопросы?<br />
      Вам требуется помощь специалиста?<br />
      Звоните по нашим телефонам:
    </h3>
    <div class="footer__phones">
      <div class="footer__phone">
        <a href="tel:+380472563938"
          ><i class="fa fa-phone"></i>(0472) 56-39-38</a
        >
      </div>
      <div class="footer__phone">
        <a href="tel:+380960012345"
          ><i class="fa fa-phone"></i>(096) 001-23-45</a
        >
      </div>
      <div class="footer__phone">
        <a href="tel:+380636907561"
          ><i class="fa fa-phone"></i>(063) 690-75-61</a
        >
      </div>
    </div>
    <div class="footer__copyright">Разработка Сергея Гаврилова</div>
  </div>
</footer>
