<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trojanoff.net - скорая компьютерная помощь в Черкассах</title>
  <link rel="shortcut icon" href="build/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="build/css/style.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="build/js/script.min.js"></script>
</head>
