<div class="owl-carousel">
  <div class="item item-1">
    <div class="item__text">
      <a href="index.html">
        <img src="./build/img/logo.png" alt="Логотип">
        <div class="item__name">TROJAN<span>OFF</span>.NET</div>
      </a>
    </div>
  </div>
  <div class="item item-2">
    <div class="item__text">
      <a href="vosstanovlenie_dannyh.html">
        Восстановление данных после аппаратных или программных сбоев
      </a>
    </div>
  </div>
  <div class="item item-3">
    <div class="item__text">
      <a href="otvety.html">
        Подбор оптимальной конфигурации для любого заказчика
      </a>
    </div>
  </div>
  <div class="item item-4">
    <div class="item__text">
      <a href="obsluzhivanie.html">
        Решение проблем корпоративных клиентов
      </a>
    </div>
  </div>
  <div class="item item-5">
    <div class="item__text">
      Ремонт и настройка ноутбуков
    </div>
  </div>
  <div class="item item-6">
    <div class="item__text">
      Установка дружественного программного обеспечения
    </div>
  </div>
</div>
