@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1, .users .users__content .users__partner .users__logo-1 .users__pict-1 {
  background-image: url(../img/users__sprite.png);
  background-position: 0px -17px;
  width: 16px;
  height: 16px; }

.icon-2, .users .users__content .users__partner .users__logo-2 .users__pict-2 {
  background-image: url(../img/users__sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 17px; }

.icon-3, .users .users__content .users__partner .users__logo-3 .users__pict-3 {
  background-image: url(../img/users__sprite.png);
  background-position: -16px -17px;
  width: 13px;
  height: 16px; }

.icon-4, .users .users__content .users__partner .users__logo-4 .users__pict-4 {
  background-image: url(../img/users__sprite.png);
  background-position: -16px 0px;
  width: 17px;
  height: 16px; }

.content_desktop, header .header__content, .sliders, .users, .banners, footer .footer__content {
  width: 940px;
  margin: 0 auto;
  font-family: "montserratbold";
  text-align: center; }

.header_top_log, header .header__content .header__top .header__in .header__login, header .header__content .header__top .header__in .header__signup, .users .users__button {
  display: inline-block;
  height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid transparent;
  border-radius: 17px;
  cursor: pointer; }
  .header_top_log:hover, header .header__content .header__top .header__in .header__login:hover, header .header__content .header__top .header__in .header__signup:hover, .users .users__button:hover {
    border: 2px solid #fff; }

.caption, .sliders .sliders__caption, .users .users__caption, .banners .banners__caption {
  font-size: 22px;
  color: #333333;
  text-align: center; }

.effect1:hover, header .header__content .header__button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8); }

.effect2:hover, .users .users__content .users__partner .users__photo:hover, .users .users__button:hover, .banners .banners__content .banners__item:hover, .banners .banners__form .banners__button input:hover {
  box-shadow: 0 0 8px #ff4e50; }

.effect3:hover, footer .footer__content .footer__list a:hover {
  color: #ff4e50; }

.effect4:focus, .banners .banners__form .banners__search:focus {
  box-shadow: 0 0 8px #ff4e50;
  border: 1px solid #ff4e50; }

header {
  height: 700px;
  width: 1420px;
  margin: 0 auto;
  background-image: url(../img/header__bg.jpg);
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff; }
  header .header__content {
    padding-top: 37px; }
    header .header__content .header__top {
      height: 35px;
      vertical-align: top; }
      header .header__content .header__top .header__logo {
        display: inline-block;
        float: left; }
      header .header__content .header__top a {
        text-decoration: none;
        color: #fff;
        font-family: "montserratbold";
        font-size: 14px;
        line-height: 30px; }
      header .header__content .header__top .header__in {
        display: inline-block;
        float: right; }
        header .header__content .header__top .header__in .header__signup {
          border: 2px solid #fff; }
          header .header__content .header__top .header__in .header__signup:hover {
            border: 2px solid #ff4e50; }
            header .header__content .header__top .header__in .header__signup:hover a {
              color: #ff4e50; }
    header .header__content .header__caption {
      clear: both;
      width: 500px;
      margin: 0 auto;
      margin-top: 180px;
      font-size: 52px;
      text-align: center; }
    header .header__content .header__caption2 {
      width: 500px;
      margin: 40px auto;
      font-size: 24px;
      text-align: center;
      font-family: "robotolight"; }
    header .header__content .header__button {
      width: 225px;
      height: 35px;
      margin: 30px auto;
      background: #ff4e50;
      border-radius: 17px;
      text-align: center;
      cursor: pointer; }
      header .header__content .header__button a {
        text-decoration: none;
        color: #fff;
        font-family: "montserratbold";
        font-size: 14px;
        line-height: 34px; }

.sliders {
  height: 555px;
  font-size: 0; }
  .sliders .sliders__caption {
    margin-top: 40px;
    margin-bottom: 30px; }
  .sliders .owl-carousel {
    width: 300px;
    display: inline-block;
    margin-right: 20px; }
    .sliders .owl-carousel:last-of-type {
      margin-right: 0; }
    .sliders .owl-carousel .item {
      width: 270px;
      height: 370px;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-position: center;
      display: table-cell;
      vertical-align: bottom;
      padding: 15px;
      color: #fff;
      font-size: 0;
      text-align: left; }
      .sliders .owl-carousel .item .item__step {
        font-family: "montserratregular";
        font-size: 10px;
        line-height: 20px;
        background: #ff4e50;
        border-radius: 10px;
        width: 35px;
        height: 20px;
        padding-left: 10px;
        padding-right: 10px; }
      .sliders .owl-carousel .item .item__caption {
        font-family: "montserratbold";
        font-size: 24px;
        margin-top: 15px;
        text-align: left; }
      .sliders .owl-carousel .item .item__text {
        font-family: "robotolight";
        font-size: 14px;
        color: #cccccc;
        margin-top: 15px;
        text-align: left; }
    .sliders .owl-carousel .item-1 {
      background-image: url(../img/slide1.jpg); }
    .sliders .owl-carousel .item-2 {
      background-image: url(../img/slide2.jpg); }
    .sliders .owl-carousel .item-3 {
      background-image: url(../img/slide3.jpg); }
    .sliders .owl-carousel .owl-controls {
      position: relative;
      top: -260px;
      padding: 25px; }
      .sliders .owl-carousel .owl-controls .owl-prev {
        width: 30px;
        height: 55px;
        display: inline-block !important;
        background-image: url(../img/carousel__arrow-left.png); }
      .sliders .owl-carousel .owl-controls .owl-next {
        width: 30px;
        height: 55px;
        margin-left: 180px;
        display: inline-block !important;
        background-image: url(../img/carousel__arrow-right.png); }

.users {
  height: 400px; }
  .users .users__caption {
    margin-top: 40px; }
  .users .users__content {
    font-size: 0; }
    .users .users__content .users__partner {
      display: inline-block;
      width: 200px;
      padding: 10px;
      margin-top: 20px;
      margin-right: 20px;
      text-align: center;
      vertical-align: top;
      position: relative; }
      .users .users__content .users__partner:last-of-type {
        margin-right: 0; }
      .users .users__content .users__partner .users__photo {
        display: inline-block;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        overflow: hidden;
        cursor: pointer; }
        .users .users__content .users__partner .users__photo img {
          vertical-align: middle;
          text-align: center; }
      .users .users__content .users__partner .users__logo {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 15px;
        right: 50px;
        top: 100px;
        z-index: 20;
        border: 3px solid #fff;
        text-align: center;
        line-height: 38px; }
      .users .users__content .users__partner .users__logo-1 {
        background: #ff4e50; }
        .users .users__content .users__partner .users__logo-1 .users__pict-1 {
          display: inline-block; }
      .users .users__content .users__partner .users__logo-2 {
        background: #1cd7ad; }
        .users .users__content .users__partner .users__logo-2 .users__pict-2 {
          display: inline-block; }
      .users .users__content .users__partner .users__logo-3 {
        background: #ffa507; }
        .users .users__content .users__partner .users__logo-3 .users__pict-3 {
          display: inline-block; }
      .users .users__content .users__partner .users__logo-4 {
        background: #4e73db; }
        .users .users__content .users__partner .users__logo-4 .users__pict-4 {
          display: inline-block; }
      .users .users__content .users__partner .users__name {
        font-family: "montserratbold";
        font-size: 14px;
        color: #333333;
        margin-top: 20px; }
      .users .users__content .users__partner .users__text {
        margin-top: 20px;
        font-family: "robotolight";
        font-size: 14px;
        color: #666666; }
  .users .users__button {
    margin-top: 40px;
    border: 2px solid #ff4e50; }
    .users .users__button:hover {
      border: 2px solid #ff4e50;
      background-color: #ff4e50; }
      .users .users__button:hover a {
        color: #fff; }
    .users .users__button a {
      text-decoration: none;
      color: #ff4e50;
      font-family: "montserratbold";
      font-size: 14px;
      line-height: 30px; }

.banners {
  height: 1225px; }
  .banners .banners__caption {
    margin-top: 10px;
    margin-bottom: 10px; }
  .banners .banners__content {
    font-size: 0;
    margin: 0;
    padding: 0; }
    .banners .banners__content .banners__item {
      width: 298px;
      height: 306px;
      border-radius: 3px;
      float: left;
      overflow: hidden;
      margin-bottom: 20px;
      display: inline-block;
      font-family: "montserratbold";
      font-size: 22px;
      color: #fff; }
      .banners .banners__content .banners__item span {
        display: inline-block;
        width: inherit;
        vertical-align: top;
        text-align: center;
        margin-top: -160px; }
    .banners .banners__content .banners__item-width2 {
      width: 620px; }
  .banners .banners__form {
    height: 350px; }
    .banners .banners__form .banners__question {
      font-family: "robotolight";
      font-size: 18px;
      margin-bottom: 20px; }
    .banners .banners__form .banners__search {
      width: 240px;
      height: 40px;
      border: 1px solid #999999;
      border-radius: 3px;
      font-family: "robotolight";
      font-size: 14px;
      color: #999999;
      padding-left: 15px; }
    .banners .banners__form .banners__button {
      display: inline-block;
      margin-left: 10px; }
      .banners .banners__form .banners__button input {
        border: 0 solid #ff4e50;
        width: 160px;
        height: 40px;
        color: #fff;
        background: #ff4e50;
        border-radius: 20px;
        cursor: pointer;
        font-family: "montserratbold";
        font-size: 14px; }

footer {
  height: 196px;
  border-top: 3px solid #ff4e50; }
  footer .footer__content {
    padding-top: 20px;
    text-align: left; }
    footer .footer__content .footer__logo {
      vertical-align: top;
      margin-right: 80px;
      margin-top: 10px; }
    footer .footer__content .footer__list {
      display: inline-block;
      vertical-align: top;
      width: 140px;
      padding-left: 20px;
      font-family: "robotolight";
      line-height: 30px; }
      footer .footer__content .footer__list a {
        text-decoration: none;
        color: #666666; }
      footer .footer__content .footer__list p {
        font-family: "montserratbold";
        color: #333333; }
    footer .footer__content .footer__design {
      float: right;
      margin-top: 10px; }
