@font-face {
  font-family: 'helvetica neue';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import '../css/font-awesome.min';

$contentWidth1: 940px;
$contentWidth2: 748px;
$contentWidth3: 320px;
$contentWidth4: 300px;
$contentWidth5: $contentWidth1 / 3 - 5px;
$contentWidth6: $contentWidth2 / 3 - 5px;
$contentWidth7: 160px;

$siteColor1: #f00;
$siteColor2: #1cd7ad;
$siteColor3: #ffa507;
$siteColor4: #4e73db;
$siteColor5: #000;
$siteColor6: #999999;
$siteColor7: #666666;
$siteColor8: #fff;
$siteColor9: #cccccc;
$siteColor10: RGBA(255,255,255,0.5);
$siteColor11: RGBA(0,0,0,0.5);

$fontSize1: 20px;
$fontSize2: 22px;
$fontSize3: 24px;
$fontSize4: 30px;
$fontSize5: 36px;
$fontSize6: 38px;
$fontSize7: 40px;
$fontSize8: 50px;
$fontSize9: 60px;
$fontSize10: 180px;
$fontSize11: 26px;

.content {
  text-align: center;
  margin: 0 auto;
  max-width: $contentWidth4;
  width: 100%;
  @media screen and (min-width: $contentWidth2) {
    max-width: $contentWidth2;
  }
  @media screen and (min-width: $contentWidth1) {
    max-width: $contentWidth1;
  }
}

.caption {
  text-align: center;
  font-size: $fontSize2;
  line-height: $fontSize3;
  @media screen and (min-width: $contentWidth2) {
    font-size: $fontSize3;
    line-height: $fontSize4;
  }
  @media screen and (min-width: $contentWidth1) {
    font-size: $fontSize4;
    line-height: $fontSize5;
  }
}

.effect1 {
  &:hover {
    background: $siteColor4;
    box-shadow: 0 0 14px rgba(255,255,255,.9);
    transition: all 0.4s ease;

    a {
      color: $siteColor3;
      transition: all 0.4s ease;
    }
  }
}

.effect2 {
  &:hover {
    background: $siteColor1;
    box-shadow: 0 0 14px rgba(255,255,255,.9);
    transition: all 0.4s ease;
  }
}

.effect4 {
  &:focus {
    box-shadow: 0 0 8px $siteColor4;
    border: 1px solid $siteColor4;
  }
}

.buy_button {
  @extend .effect1;
  width: $contentWidth4 - 40px;
  height: 60px;
  margin: 40px auto;
  background: $siteColor3;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  @media screen and (min-width: $contentWidth2) {
    margin-top: 35px;
    width: 240px;
  }

  a {
    text-decoration: none;
    color: $siteColor8;
    font-size: $fontSize3;
    line-height: $fontSize9;
  }
}

.bang {
  background-image: url(../img/bg__bang.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-size: $fontSize4;
  margin-bottom: 40px;

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}

body {
  min-width: $contentWidth3;
  font-family: 'helvetica neue';

  .header {
    background-image: url(../img/bg__top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: $siteColor8;
    background-attachment: fixed;

    .header__content {
      @extend .content;
      text-align: left;
      font-size: 0;
      vertical-align: top;

      .header__top {
        vertical-align: top;
        text-align: center;
        @media screen and (min-width: $contentWidth2) {
          text-align: left;
        }

        .header__logo {
          display: block;
          width: auto;
          padding-top: 20px;
          text-align: center;

          img {
            width: 200px;
          }

          @media screen and (min-width: $contentWidth2) {
            padding-top: 50px;
            display: inline-block;
            text-align: left;
          }
        }
      }

      .header__appeal {
        margin: 40px auto;
        font-size: $fontSize5;
        line-height: $fontSize6;
        text-align: center;
        text-shadow: 1px 1px 2px $siteColor4;
        @media screen and (min-width: $contentWidth2) {
          display: inline-block;
          max-width: $contentWidth2 / 2;
          width: 100%;
          margin-bottom: 200px;
          font-size: $fontSize8;
          line-height: $fontSize9;
          margin-top: 120px;
        }
        @media screen and (min-width: $contentWidth1) {
          max-width: $contentWidth1 / 2;
          width: 100%;
          margin-bottom: 295px;
        }
      }

      .header__appeal-right {
        margin: 20px auto;
        font-size: $fontSize4;
        line-height: $fontSize5;
        vertical-align: top;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 50px;
        text-shadow: 1px 1px 2px $siteColor4;
        @media screen and (min-width: $contentWidth2) {
          display: inline-block;
          max-width: $contentWidth2 / 2;
          width: 100%;
          margin-top: 70px;
          font-size: $fontSize3;
        }
        @media screen and (min-width: $contentWidth1) {
          max-width: $contentWidth1 / 2;
          width: 100%;
        }

        .header__slogan {
          font-weight: bold;
          display: inline-block;
          background-color: $siteColor4;
          font-size: $fontSize3;
          line-height: $fontSize4;
          width: $contentWidth4 - 40px;
          height: 60px;
          border-radius: 10px;
          @media screen and (min-width: $contentWidth2) {
            width: inherit;
            border-radius: 0;
            font-size: $fontSize3;
            line-height: $fontSize9;
          }
          @media screen and (min-width: $contentWidth1) {
            width: inherit;
            border-radius: 0;
            font-size: $fontSize4;
            line-height: $fontSize9;
          }
        }
      }
    }
  }

  .phonecall {
    height: 160px;
    background: $siteColor2;
    color: $siteColor8;
    @media screen and (min-width: $contentWidth2) {
      height: 80px;
    }

    .phonecall__content {
      @extend .content;
      font-size: $fontSize3;
      line-height: $fontSize6;
      position: relative;
      @media screen and (min-width: $contentWidth2) {
        font-size: $fontSize2;
        line-height: $fontSize6;
      }

      span {
        white-space: nowrap;
      }
    }

    .phonecall__face {
      @extend .effect1;
      position: absolute;
      display: none;
      top: -20px;
      left: -10px;
      box-sizing: border-box;
      height: 120px;
      width: 120px;
      border-radius: 60px;
      overflow: hidden;
      cursor: pointer;
      border: 4px solid $siteColor2;
      @media screen and (min-width: $contentWidth2) {
        display: inline-block;
      }

      img {
        vertical-align: middle;
        text-align: center;
        width: 120px;
      }
    }
  }

  .phonecall-2 {
    background: $siteColor3;
    height: 196px;
    @media screen and (min-width: $contentWidth2) {
      height: 80px;
    }

    .phonecall__form {
      text-align: center;
      @media screen and (min-width: $contentWidth2) {
        text-align: left;
      }
      @media screen and (min-width: $contentWidth1) {
        text-align: center;
      }

      .phonecall__search {
        @extend .effect4;
        font-size: $fontSize1;
        display: inline-block;
        box-sizing: border-box;
        width: $contentWidth4 - 2px;
        height: 28px;
        border: 1px solid $siteColor6;
        border-radius: 3px;
        color: $siteColor6;
        padding-left: 10px;
        @media screen and (min-width: $contentWidth2) {
          width: 200px;
        }
      }

      .phonecall__button {
        display: inline-block;

        .phonecall__submit {
          @extend .effect2;
          border-radius: 3px;
          background: $siteColor4;
          height: 28px;
          font-size: $fontSize1;
          cursor: pointer;
          color: $siteColor8;
          border: 0 solid red;
          width: $contentWidth4 - 2px;
          @media screen and (min-width: $contentWidth2) {
            width: 190px;
          }
        }
      }
    }

    .phonecall__face-2 {
      border: 4px solid $siteColor3;
      @media screen and (min-width: $contentWidth2) {
        left: $contentWidth2 - 110px;
      }
      @media screen and (min-width: $contentWidth1) {
        left: $contentWidth1 - 110px;
      }
    }
  }

  .phonecall-last {
    height: 150px;
    @media screen and (min-width: $contentWidth2) {
      height: 80px;
    }
  }

  .easy123__content {
    @extend .content;
    font-size: 0;

    h2 {
      @extend .caption;
      margin: 20px auto;
      @media screen and (min-width: $contentWidth2) {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }

    .easy123__payment {
      @extend h2;
      line-height: $fontSize4;

      .pay-blue {
        color: $siteColor4;
      }

      .pay-red {
        color: $siteColor1;
      }

      .pay-blue2 {
        color: $siteColor2;
      }
    }

    .easy123__part {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      width: $contentWidth4;
      margin: 10px auto;
      margin-bottom: 0;
      padding: 10px;
      opacity: 0;
      @media screen and (min-width: $contentWidth2) {
        width: $contentWidth2 / 3;
        margin-top: 30px;
        margin-bottom: 60px;
      }
      @media screen and (min-width: $contentWidth1) {
        width: $contentWidth1 / 3;
      }

      .easy123__step {
        vertical-align: sub;
        height: 40px;
        font-size: $fontSize1;
        @media screen and (min-width: $contentWidth2) {
          margin-bottom: 30px;
          font-size: $fontSize1;
        }
        @media screen and (min-width: $contentWidth1) {
          font-size: $fontSize3;
        }
      }

      .easy123__logo {
        margin: 10px auto;
        height: 140px;
        width: 140px;
        border-radius: 70px;
        overflow: hidden;
        background: $siteColor4;
        font-size: $fontSize3;
        line-height: $fontSize10;
        color: $siteColor8;
        box-shadow: 0 0 14px rgba(255,255,255,.9);
      }
    }
  }

  .action {
    margin: 0 auto;
    background-image: url(../img/bg__next.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: $siteColor8;

    .action__content {
      @extend .content;
      font-size: 0;
      vertical-align: top;
      padding-top: 30px;

      .action__slogan {
        font-size: $fontSize1;
        line-height: $fontSize4;
        margin: 0 auto;
        margin-bottom: 30px;
        box-sizing: border-box;
        text-shadow: 1px 1px 2px $siteColor4;
        @media screen and (min-width: $contentWidth2) {
          display: inline-block;
          max-width: $contentWidth2 / 2;
          width: 100%;
          margin-bottom: 50px;
          font-size: $fontSize3;
          line-height: $fontSize7;
          margin-top: 120px;
          padding-left: 20px;
          padding-right: 20px;
        }
        @media screen and (min-width: $contentWidth1) {
          max-width: $contentWidth1 / 2;
          width: 100%;
        }

        span {
          white-space: nowrap;
          font-weight: bold;
          font-style: italic;
        }
      }

      .action__counter {
        box-sizing: border-box;
        vertical-align: top;
        @media screen and (min-width: $contentWidth2) {
          display: inline-block;
          max-width: $contentWidth2 / 2;
          width: 100%;
          margin-bottom: 50px;
          margin-top: 120px;
          padding-left: 20px;
          padding-right: 20px;
        }
        @media screen and (min-width: $contentWidth1) {
          max-width: $contentWidth1 / 2;
          width: 100%;
        }

        #countdoun {
          max-width: $contentWidth4 !important;
          margin: 20px auto;
          width: 100%;
        }

        .countdownHolder {
          font-family: 'Open Sans Condensed',sans-serif;
          font-size: 20px;
          line-height: 1.5;
          @media screen and (min-width: $contentWidth2) {
            font-size: 30px !important;
            line-height: 1.5;
          }
        }

        #note {
          font-size: $fontSize1;
          line-height: $fontSize3;
          margin: 20px auto;
          font-weight: bold;

          span {
            white-space: nowrap;
          }
        }

        .action__book {
          padding-bottom: 20px;
        }
      }
    }
  }

  .sliders {
    @extend .content;
    font-size: 0;

    h2 {
      @extend .caption;
      margin-top: 30px;
      margin-bottom: 15px;
      @media screen and (min-width: $contentWidth2) {
        margin-top: 40px;
      }
    }

    .owl-carousel {
      width: $contentWidth4;
      margin: 25px auto;
      position: relative;
      @media screen and (min-width: $contentWidth2) {
        width: $contentWidth2 - 40px;
        margin-bottom: 80px;
      }
      @media screen and (min-width: $contentWidth1) {
        width: $contentWidth1 - 40px;
      }

      .item {
        width: inherit;
        box-sizing: border-box;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table-cell;
        vertical-align: top;
        padding: 20px;
        font-size: 0;
        text-align: left;
        color: $siteColor8;
        height: 280px;
        overflow: hidden;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        @media screen and (min-width: $contentWidth2) {
          height: 450px;
        }

        .item__photo {
          text-align: left;
          display: inline-block;
          font-size: $fontSize1;
          width: 120px;
          font-weight: bold;
          color: $siteColor5;
          @media screen and (min-width: $contentWidth2) {
            text-align: center;
            padding-top: 30px;
            font-size: $fontSize2;
            line-height: $fontSize3;
          }

          .item__face {
            box-sizing: border-box;
            height: 120px;
            width: 120px;
            border-radius: 60px;
            border: 4px solid $siteColor4;
            display: none;
            margin-bottom: 20px;
            overflow: auto;
            @media screen and (min-width: $contentWidth2) {
              display: inline-block;
            }
          }

          .item__name {
            background-color: $siteColor10;
            padding-left: 10px;
            @media screen and (min-width: $contentWidth2) {
              padding-left: 0;
            }
          }
        }

        .item__text {
          display: inline-block;
          font-size: $fontSize1;
          line-height: $fontSize2;
          background-color: $siteColor11;
          margin-top: 10px;
          padding-right: 4px;
          padding-left: 4px;
          text-align: right;
          @media screen and (min-width: $contentWidth2) {
            font-size: $fontSize2;
            line-height: $fontSize4;
            margin-left: 30px;
            width: 450px;
          }
          @media screen and (min-width: $contentWidth1) {
            width: 650px;
          }
        }
      }

      .item-1 {
        background-image: url(../img/slide1.jpg);
      }
      .item-2 {
        background-image: url(../img/slide2.jpg);
      }
      .item-3 {
        background-image: url(../img/slide3.jpg);
      }
      .item-4 {
        background-image: url(../img/slide4.jpg);
      }
      .item-5 {
        background-image: url(../img/slide5.jpg);
      }

      .owl-controls {
        display: none;
        @media screen and (min-width: $contentWidth2) {
          display: inline-block;
          position: relative;
          width: 100%;
          bottom: 55px;
        }

        .owl-dots {
          margin: 0 auto;

          .owl-dot {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: $siteColor2;
            margin-right: 10px;
            display: inline-block;
          }

          .active {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 10px;
            display: inline-block;
            background: $siteColor4;
          }
        }
      }
    }
  }

  .questions {
    background-color: $siteColor9;
    padding-top: 30px;
    min-height: 940px;
    @media screen and (min-width: $contentWidth2) {
      padding-top: 40px;
      min-height: 700px;
    }

    .questions__content {
      @extend .content;

      h2 {
        @extend .caption;
        margin-bottom: 15px;
      }

      .accordion {
        min-height: 60px;
        border: 1px solid $siteColor6;
        margin-top: 10px;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        background: $siteColor8;
        font-size: $fontSize1;
        line-height: 30px;
        position: relative;
        cursor: pointer;
        @media screen and (min-width: $contentWidth2) {
          min-height: 50px;
          line-height: 50px;
        }
      }

      .accordion:nth-of-type(9) {
        @media screen and (min-width: $contentWidth2) {
          line-height: 25px;
        }
      }

      .accordion:first-of-type {
        margin-top: 40px;
      }

      .active {
        background: $siteColor3;
      }

      .accordion__content {
        font-size: $fontSize1;
        line-height: $fontSize3;
        margin-top: 10px;
      }
    }
  }

  .showcase {
    margin: 0 auto;
    background-image: url(../img/bg__new_life.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: $siteColor8;
    background-attachment: fixed;

    .showcase__content {
      @extend .content;
      height: 650px;
      font-size: $fontSize2;
      padding-top: 20px;
      // font-weight: bold;
      @media screen and (min-width: $contentWidth2) {
        padding-top: 50px;
        // height: 650px;
      }

      h2 {
        @extend .caption;
        margin-bottom: 60px;

        span {
          color: $siteColor1;
        }
      }

      .showcase__slogan {
        @extend h2;
        margin: 20px auto;
        background-color: $siteColor4;
        line-height: $fontSize4;
        @media screen and (min-width: $contentWidth2) {
          line-height: $fontSize6;
          margin-top: 50px;
          margin-bottom: 30px;
        }
      }

    }
  }

  .footer__content {
    @extend .content;

    img {
      width: $contentWidth7;
    }

    div {
      display: inline-block;
      width: $contentWidth4;
      margin-top: 20px;
      margin-bottom: 20px;
      vertical-align: middle;
      @media screen and (min-width: $contentWidth2) {
        width: $contentWidth6;
      }
      @media screen and (min-width: $contentWidth1) {
        width: $contentWidth5;
      }
    }
  }

  .progress {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: $siteColor4;
    z-index: 10;

    .progress__container {
      width: 100%;
      background: transparent;
      position: fixed;
      height: 5px;
      display: block;

      .progress__bar {
        background: $siteColor4;
        width: 0%;
        display: block;
        height: inherit;
      }
    }
  }

  .back__top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 20;
    display: none;

    a {
      width: 50px;
      display: block;
      text-decoration: none;
      transition: all 0.4s ease;
      text-align: center;
      color: $siteColor4;

      &:hover {
        color: $siteColor7;
      }

      i {
        text-shadow: 0px 0px 2px $siteColor8;
      }
    }
  }

  .readme {
    display: none;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -157px;
    margin-top: -257px;
    width: 300px;
    height: 500px;
    border: 2px solid $siteColor5;
    border-radius: 5px;
    background: $siteColor9;
    z-index: 100;
    opacity: 0.9;
    text-align: center;
    font-size: $fontSize1;
    line-height: $fontSize2;
    @media screen and (min-width: $contentWidth2) {
      padding: 10px;
      top: 50%;
      left: 50%;
      line-height: $fontSize3;
      margin-left: -312px;
      margin-top: -162px;
      width: 600px;
      height: 300px;
    }

    .readme__message {
      text-align: left;
    }

    button {
      font-size: $fontSize1;
      line-height: $fontSize1;
      margin-top: 15px;
      font-weight: normal;
      cursor: pointer;
    }
  }
}
