.wrapper {
  font-family: sans-serif;
  width: 600px;
  margin: 0 auto;
}

.form_block {
  margin-top: 80px;
  padding: 10px;
  border: 2px solid black;
  background: #eee;
}

form {
  border: 2px solid #4444c1;
  background: #fff;
  padding: 5px;
}

.form_field {
  margin-top: 25px;
  margin-left: 25px;
  height: 40px;
}

.form_field  label {
  display: inline-block;
  width: 80px;
}

.form_field  input {
  margin-left: 10px;
  display: inline-block;
}

.helpButton {
  margin: 20px;
  width: 120px;
  height: 28px;
  background: #ddd;
  text-align: center;
  border-radius: 3px;
  padding-top: 10px;
}

.helpButton:hover {
  cursor: pointer;
  background: #ccc;
}

.helpMessage {
  display: none;
  width: 200px;
  heigt: 40px;
  margin-top: -30px;
  margin-left: 280px;
  border-radius: 3px; 
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}