.readme {
  // display: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  border: 2px solid var(--color);
  border-radius: 5px;
  background: var(--background-color);
  z-index: 200;
  opacity: 0.9;
  text-align: center;
  font-size: $fontSize3;
  line-height: $fontSize4;
  @media screen and (min-width: $contentWidth2) {
    line-height: $fontSize5;
    width: 500px;
    height: 200px;
  }

  .readme__message {
    text-align: left;
    overflow-y: auto;
    padding: 20px 0;
    max-height: 460px;
    @media screen and (min-width: $contentWidth2) {
      max-height: 380px;
    }
  }

  .readme__button {
    font-size: $fontSize3;
    line-height: $fontSize4;
    margin-top: 15px;
    font-weight: normal;
    cursor: pointer;
  }
}
