@font-face {
  font-family: theme1_font;
  src: url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: theme3_font;
  src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: theme2_font;
  src: url('../fonts/Sansation-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  --fs_bg_color: 19%;
  --fs_background: hsl(0, 0%, var(--fs_bg_color));
  --color: #f6da73;
  --background_color: #3e5336;
  --decor_color: #e55b7e;
  --base_font_size: 16px;
  --font_family: theme1_font;
  color: var(--color);
  background-color: var(--background_color);
  font-size: var(--base_font_size);
  font-family: var(--font_family);
}

%selector {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.theme_selector {
  @extend %selector;
  height: 25px;
}

.theme_selector__caption, .bg_color_selector__caption, label {
  text-align: left;
  font-size: var(--base_font_size);
}

.theme_selector__btn {
  width: 80px;
  height: 25px;
  margin: 3px;
  line-height: 25px;
  border: 2px solid var(--decor_color);
  border-radius: 3px;
  cursor: pointer;
  // font-size: calc(var(--base_font_size) - 2px);
}

.bg_color_selector, .exif_checker {
  @extend %selector;
  height: 20px;
}

.bg_color_selector__btn {
  width: 40px;
  height: 20px;
  margin: 3px;
  border: 2px solid var(--decor_color);
  border-radius: 3px;
  cursor: pointer;
}
