@font-face {
  font-family: theme1_font;
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: theme3_font;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Bellota-Regular.woff2') format('woff2');
}

@font-face {
  font-family: theme2_font;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
}

body {
  --fs_bg_color: 1%;
  --fs_background: hsl(0, 0%, var(--fs_bg_color));
  --color: #f6da73;
  --background_color: #3e5336;
  --decor_color: #e55b7e;
  --base_font_size: 16px;
  --font_family: theme1_font;
  color: var(--color);
  background-color: var(--background_color);
  font-size: var(--base_font_size);
  font-family: var(--font_family);
}
