@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* HEADER */


header {
  height: 845px;
  background: linear-gradient(to bottom, transparent 278px, RGBA(0,0,0,.3) 279px, RGBA(0,0,0,.3) 678px, transparent 679px),
  url(../img/header__bg.jpg) center 0 no-repeat gray;
}

.header__content {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  margin-top: 66px;
  display: inline-block;
  font-family: 'league_gothicregular';
  color: #fff;
  font-size: 48px;
}

.logo__text1 {
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.logo__text2 {
  color: #4f3859;
}

.menu {
  display: inline-block;
  margin-top: 74px;
  float: right;
  white-space: nowrap;
  font-family: 'league_gothicregular';
}

.menu__item {
  display: inline-block;
  font-size: 24px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 18px;
  margin-right: 18px;
  padding-bottom: 2px;
  text-shadow: 1px 2px 2px rgba(0,0,0,.4);
  border-bottom: 2px solid transparent;
}

.menu__dropdown {
  display: inline-block;
}

.menu__item:last-of-type {
  padding-right: 7px;
  margin-right: -7px;
}
  
.menu__item a {
  color: #fff;
  text-decoration: none;
}

.menu__item:hover {
  border-bottom: 2px solid #edbfff;
}

.slider__artcl {
  display: inline-block;
  margin-top: 240px;  
  font-family: 'league_gothicregular';
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
  max-width: 520px;
  width: 100%;
}

.s_artcl__head {
	font-size: 60px;
	color: #fefefe;
}

.s_artcl__head2 {
	font-size: 32px;
  line-height: 32px;
	color: #edbfff;
}

.s_artcl__head2:after{
  content: ' TRUE';
}

.s_artcl__content {
  font-family: 'open_sanslight';  
	font-size: 18px;
  line-height: 24px;
	color: #fff;
}  

.slider__content {
  margin-top: 148px;
  float: right;
  display: inline-block;
  width: 132px;
  height: 300px;
  background: url(../img/phone1.png) 73px 0px no-repeat,
  url(../img/phone2.png) 2px 73px no-repeat;
  padding-top: 148px;
  padding-left: 133px;
  margin-right: 75px;
}

.slider__bullets {
  clear: both;
}

.slider__forma {
  display: inline-block;
}

.slider__bullets label:hover {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}
 
label {
  display: inline-block;
  width: 12px;
  height: 9px;
  border-radius: 8px;
  border: 3px solid #40434b;
  background: #40434b;
  vertical-align: top;
  padding-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

input[type="radio"]:checked + label{
  background: #f1f1f1;
}

.slider__bullets {
  text-align: left;
  margin-left: 710px;
  margin-top: 181px;
  font-size: 0px;
}


/* CONTENT */


.blogs {
  background-image: linear-gradient(to top, #322539, #745083);
	height: 343px;
}

.blogs__content {
  font-size: 0;
  text-align: center;
  padding-left: 10px;
  padding-right: 0px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.blogs__artcl {
  display: inline-block;
  vertical-align: top;
  max-width: 278px;
  width: 100%;
  height: 190px;
  font-size: 0;
  margin-top: 77px;
  margin-left: 31px;
  margin-right: 31px;
}

.blogs__artcl:first-of-type {
  margin-left: 0px;
}

.blogs__artcl:last-of-type {
  margin-right: 0px;
}

.artcl__logo {
  display: inline-block;
  vertical-align: top;
  width: 29px;
  margin-right: 23px;
  margin-top: 7px;
  height: 100%;
}

.artcl__content {
  display: inline-block;
  vertical-align: top;
  max-width: 225px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #fff;
  font-family: 'league_gothicregular';
}

.artcl__header{
  font-size: 30px;
}

.artcl__text {
  font-family: 'open_sanslight';
  font-size: 16px;
  line-height: 24px;
}

.artcl__link {
  text-align: right;
  margin-top: 25px;
  font-size: 18px;
}

.artcl__link a {
  text-decoration: none;
  color: #fff;
}

.artcl__link:hover {
  text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.artcl__logo-3 {
  background: url(../img/icons.png) 0 0 no-repeat transparent;
}

.artcl__logo-2 {
  background: url(../img/icons.png) -35px 0 no-repeat transparent;
}

.artcl__logo-1 {
  background: url(../img/icons.png) -70px 0 no-repeat transparent;
}

main {
  background: #f9f9f9;
}

.main__container {
  border-bottom: 1px solid #e6e6e6;
}

.main_content {
  height: 385px;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px
}

.main_content__left {
  display: inline-block;
  vertical-align: top;
  max-width: 428px;
  width: 100%;
  text-align: center;
  margin-left: 22px;
}

.left__top {
  font-family: 'open_sanslight';
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-top: 23px;
  padding-left: 39px;
  padding-right: 35px;
  position: relative;
  background: #fff;
  color: #454545;
  height: 249px;
}

.left__top:before {
  content: '';
  position: absolute;
  right: 39px; 
  bottom: -20px;
  border: 10px solid transparent; 
  border-top: 10px solid #fff; 
  border-right: 10px solid #fff;
}

.left__header:after {
  content: '';
  position: absolute;
  left: -58px; 
  top: -7px;
  width: 50px;
  height: 50px;
  background: url(../img/faces.png) 0 0 no-repeat;
}

.left__header {
  font-family: 'league_gothicregular';
  font-size: 30px;
  color: #454545;
  line-height: 40px;
  position: relative;
}

.left__header span {
  color: #edbfff;
}

.slider__bullets-main {
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
}

.slider__bullets-main label {
  border: 3px solid #e8e8e8;
  background: #fff;
}

.slider__bullets-main input[type="radio"]:checked + label{
  background: #5a5a5a;
  border: 3px solid #e8e8e8;  
}

.main_content__right {
  display: inline-block;
  max-width: 446px;
  width: 100%;
  margin-left: 55px;
  margin-top: 28px;
  text-align: left;
  color: #454545;
}

.right__content_header {
  font-family: 'league_gothicregular';
  font-size: 30px;
}

.right__content_link {
  text-align: right;
  margin-top: 25px;
  font-size: 18px;
  font-family: 'league_gothicregular';
}

.right__content_link a {
  text-decoration: none;
  color: #454545;
}

.right__content_revue {
  font-size: 16px;
  line-height: 24px;
  font-family: 'open_sanslight';
  margin-left: 70px;
  margin-top: 16px;
  margin-bottom: 18px;
  position: relative;
}

.right__content_revue h2 {
  font-family: 'open_sansextrabold';
}

.right__content_revue h2:after {
  content: ' feugiat eget';
}

.right__content_revue:before {
  content: '';
  position: absolute;
  left: -65px; 
  top: -2px;
  width: 50px;
  height: 50px;
}

.right__content_revue:nth-of-type(2):before {
  background: url(../img/faces.png) -52px 0 no-repeat;
}

.right__content_revue:nth-of-type(3):before {
  background: url(../img/faces.png) -104px 0 no-repeat;
}

.right__content_revue:nth-of-type(4):before {
  background: url(../img/faces.png) -156px 0 no-repeat;
}

.logos {
  width: 100%;
  border-top: 1px solid #fefefe;
}

.logos__content {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 0;
  text-align: center;
}

.logos__content div {
  display: inline-block;
  width: 104px;
  height: 66px;
  margin-left: 18px;
  margin-right: 17px;
}

.logos__pic-1 {
  background: url(../img/logos.png) 0 0 no-repeat;
}

.logos__pic-2 {
  background: url(../img/logos.png) -105px 0 no-repeat;
}

.logos__pic-3 {
  background: url(../img/logos.png) -210px 0 no-repeat;
}

.logos__pic-4 {
  background: url(../img/logos.png) -315px 0 no-repeat;
}

.logos__pic-5 {
  background: url(../img/logos.png) -420px 0 no-repeat;
}

.logos__pic-6 {
  background: url(../img/logos.png) -525px 0 no-repeat;
}

.news_line {
  border-top: 1px solid #d8d8d8;
  background: #ececec;
}

.news_line__content {
  max-width: 960px;
  width: 100%;
	height: 301px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding-top: 95px;
  padding-left: 0;
  padding-right: 0;
}

.news {
  width: 283px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.news:not(:first-of-type) {
  margin-left: 55px;
}

.news__header {
  color: #454545;
  font-size: 30px;
  line-height: 38px;
  font-family: 'league_gothicregular';
}

.news__text {
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  font-family: 'open_sanslight';
}

.news:nth-of-type(1) .news__header {
  font-size: 48px;
  line-height: 48px;
}

.news:nth-of-type(1) .news__header span{
  color: #b9b9b9; 
}

.news__copyr {
  font-family: georgia;
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
  color: #c5c5c5;
  line-height: 40px;
}


/* FOOTER */


footer {
  background: url(../img/footer__bg.jpg) center 0 no-repeat gray; 
}

.footer__content {
  height: 70px;
  padding-top: 46px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.menu-footer {
  float: none;
  margin-top: 0;
}

.menu__item-footer {
  font-size: 20px;
  margin-left: 14px;
  margin-right: 14px;
}

.menu__item-footer:first-of-type {
  padding-left: 6px;
  margin-left: -6px;
}

.copyright {
  float: right;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-family: 'open_sanslight';
  text-shadow: 1px 2px 2px rgba(0,0,0,.4);
  margin-top: 7px;
}

.copyright span {
  font-family: 'open_sansextrabold';
}


@media screen and (max-width: 959px) and (min-width: 768px) {


header {
  height: 799px;
  background: linear-gradient(to bottom, transparent 243px, RGBA(0,0,0,.3) 244px, RGBA(0,0,0,.3) 644px, transparent 645px),
  url(../img/header__bg.jpg) center 0 no-repeat gray;
}

.header__content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 728px;
}

.menu {
  float: none;
  margin-top: 30px;
}

.menu__item-first {
  padding-left: 7px;
  margin-left: -7px;
}

.header__slider {
  margin: 0px;
}

.slider__artcl {
  max-width: 270px;
  width: 100%;
  overflow: hidden;
  margin-top: 174px;
  margin-left: 24px;
}

.s_artcl__head {
	font-size: 48px;
  line-height: 36px;
  padding-bottom: 12px;
}

.s_artcl__head2 {
	font-size: 24px;
  line-height: 36px;
}

.s_artcl__head2:after{
  content: '';
}

.s_artcl__content {
	font-size: 16px;
  line-height: 30px;
  height: 113px;
}  

.slider__content {
  margin-right: 30px;
  margin-top: 50px;
}

.slider__bullets {
  margin-left: 521px;
  margin-top: 135px;
}

.blogs__content {
  padding-left: 25px;
  padding-right: 15px;
  max-width: 728px;
}

.blogs__artcl {
  max-width: 216px;
  height: 205px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 77px;
}

.artcl__text {
  height: 140px;
  overflow: hidden;
}

.artcl__content {
  max-width: 160px;
}

.artcl__logo {
  width: 29px;
  margin-right: 19px;
}

.artcl__header{
  font-size: 24px;
}

.main_content {
  height: 389px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 728px;
  padding-top: 97px;
}

.main_content__left {
  max-width: 314px;
	height: 320px;
}

.left__top {
  padding-left: 30px;
  padding-right: 20px;
}

.left__text {
  margin-top: 15px;
  height: 150px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 0px;
}

.left__top:before {
  display: none;
}

.left__header {
  font-size: 24px;
  line-height: 24px;
  width: 120px;
}

.main_content__right {
  max-width: 335px;
  margin-top: 32px;
  margin-left: 56px;
}

.right__content_header {
  margin-bottom: 15px;
}

.right__text {
  height: 18px;
  overflow: hidden;
  margin-bottom: 20px;
}

.right__content_revue {
  margin-top: 8px;
  margin-bottom: 0px;
  height: 60px;
}

.right__content_link {
  margin-top: 0px;
}

.slider__bullets-main {
  margin: 0;
  margin-top: 28px;
}

.logos__content {
  max-width: 748px;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.logos__content div {
  margin-left: 9px;
  margin-right: 9px;
}

.news_line__content {
  max-width: 758px;
  padding-left: 10px;
  padding-right: 0px;
}

.news {
  width: 210px;
}

.news:not(:first-of-type) {
  margin-left: 55px;
}

.news__header {
  font-size: 24px;
}

.news:nth-of-type(1) .news__header {
  font-size: 40px;
  line-height: 40px;
}

.news__copyr {
  font-size: 14px;
  line-height: 32px;
}

.news__text {
  height: 170px;
  overflow: hidden;
}

.news:first-of-type .news__text{
  height: 150px;
}

.news__copyr {
  line-height: 22px;
}

.footer__content {
  max-width: 728px;
  paddig-left: 20px;
  padding-right: 20px;
  height: 153px;
}

.copyright {
  margin-top: 55px;
  margin-right: -10px;
}

.menu-footer {
  margin-top: 0;
}

.menu__item-footer {
  margin-left: 14px;
  margin-right: 13px;
}

.menu__item-footer:first-of-type {
  padding-left: 6px;
  margin-left: 5px;
}

}


@media screen and (max-width: 767px) and (min-width: 480px){
 

header {
  height: 550px;
  background: linear-gradient(to bottom, transparent 203px, RGBA(0,0,0,.3) 204px, RGBA(0,0,0,.3) 449px, transparent 450px),
  url(../img/header__bg.jpg) center 0 no-repeat gray;
}

.header__content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 440px;
  text-align: center;
} 

.menu {
  display: block;
  margin: 0px auto;
  margin-top: 21px;
  text-align: center;
  width: 246px;
  float: none;
  position: relative; 
}

.menu__dropdown { 
  display: none;
  position: absolute; 
}

.menu .menu__item {
  display: block;
  width: 246px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #111b22;
  border-bottom: 1px solid #35273d;
  border-top: 1px solid #523e5a;
  background: RGBA(60,48,69,.8);
  vertical-align: top;
}

.menu__dropdown .menu__item:last-of-type  {
  border-radius: 0 0 10px 10px;
}

.menu .menu__item-first {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid transparent;
  background: transparent;
}

.menu:hover .menu__dropdown {
  display: block; 
}


.menu:hover .menu__item-first {
  background: RGBA(60,48,69,.8);
  border: 1px solid #111b22;
  border-bottom: 1px solid #35273d;
  border-top: 1px solid #523e5a;
}

.menu .menu__item:hover {
  border-bottom: 2px solid #edbfff;
  background: RGBA(43,34,48,.9);
  padding-bottom: 7px;
}

.header__slider {
  text-align: left;
}

.slider__artcl {
  max-width: 210px;
  width: 100%;
  margin-left: 20px;
  margin-top: 116px;
}

.s_artcl__head {
	font-size: 36px;
}

.s_artcl__head2 {
	font-size: 18px;
}

.s_artcl__head2:after{
  content: '';
}

.s_artcl__content {
  display: none;
}  

.slider__content {
  margin-top: 0px;
  margin-right: 10px;
  width: 95px;
  height: 200px;
  background: url(../img/phone1.png) 55px 15px no-repeat,
  url(../img/phone2.png) 0px 70px no-repeat;
  background-size: 70%, 50%;
  padding-top: 122px;
  padding-left: 100px;
}

.slider__content img {
  height: 50px;
}

.header__slider .slider__bullets {
  position: absolute;
  top: 290px;
  left: -512px;
}

.blogs {
	height: 600px;
}

.blogs__content {
  padding-left: 25px;
  padding-right: 20px;
  max-width: 435px;
  padding-top: 76px;
}

.blogs__artcl {
  display: block;
  height: auto;
  max-width: 440px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.artcl__logo {
  margin-right: 0px;
}

.artcl__content {
  display: inline-block;
  vertical-align: top;
  max-width: 380px;
  width: 100%;
  padding-left: 20px;
}

.artcl__header {
  font-size: 24px;
}

.main_content {
  padding-left: 40px;
  padding-right: 20px;
  max-width: 420px;
  height: 714px;
  padding-top: 70px;
}

.main_content__left {
  display: block;
  margin: 0 auto;
	height: 345px;
  text-align: center;
}

.left__top:before {
  display: none;
}

.left__top {
  padding-right: 20px;
}

.left__header {
  line-height: 46px;
}

.slider__bullets-main {
  margin: 0;
  margin-top: 22px;
}

.main_content__right {
  display: block;
  max-width: 340px;
  width: 100%;
  margin-top: 13px;
  margin-left: 40px;
}

.right__text {
  overflow: hidden;
  height: 25px;
}

.logos__content {
  max-width: 440px;
  height: 201px;
  padding: 20px;
  padding-top: 10px;
}

.logos__content div {
  margin-top: 25px;
  margin-bottom: 5px;
}
 
.news_line__content {
	height: 656px;
  max-width: 445px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 15px;
}

.news {
  width: 100%;
  height: 130px;
  display: block;
  overflow: hidden;
  margin-top: 57px;
}

.news:first-of-type {
  height: 120px;
}

.news:not(:first-of-type) {
  margin-left: 0px;
}

.news__header {
  font-size: 24px;
}

.news:nth-of-type(1) .news__header {
  font-size: 40px;
  line-height: 40px;
}

.news__copyr {
  font-size: 14px;
  line-height: 32px;
}

.footer__content {
  max-width: 460px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  height: 160px;
  padding-top: 37px;
}
 
.footer__content .menu-footer {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-top: 0;
  white-space: nowrap;
}

.menu-footer .menu__item-footer {
  display: inline-block;
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 3px;
  background: transparent;
  border: none;
  width: auto;
  text-shadow: 1px 2px 2px rgba(0,0,0,.4);
  border-bottom: 2px solid transparent;
}

.menu__item-footer a {
  color: #fff;
  text-decoration: none;
}

.menu-footer .menu__item-footer:hover {
  background: transparent;
  border: none;
  padding-bottom: 1px;
  border-bottom: 2px solid #edbfff;
}

.copyright {
  float: none;
  display: block;
  margin: 30px auto;
}
 
}


@media screen and (max-width: 479px) and (min-width: 320px){


header {
  height: 517px;
  background: url(../img/header__bg.jpg) center 0 no-repeat gray;
}

.header__content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  text-align: center;
}

.menu {
  display: block;
  margin: 0px auto;
  margin-top: 21px;
  text-align: center;
  width: 246px;
  float: none;
  position: relative; 
}

.menu__dropdown { 
  display: none;
  position: absolute; 
}

.menu .menu__item {
  display: block;
  width: 246px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #111b22;
  border-bottom: 1px solid #35273d;
  border-top: 1px solid #523e5a;
  background: RGBA(60,48,69,.8);
  vertical-align: top;
}

.menu__dropdown .menu__item:last-of-type  {
  border-radius: 0 0 10px 10px;
}

.menu .menu__item-first {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid transparent;
  background: transparent;
}

.menu:hover .menu__dropdown {
  display: block; 
}

.menu:hover .menu__item-first {
  background: RGBA(60,48,69,.8);
  border: 1px solid #111b22;
  border-bottom: 1px solid #35273d;
  border-top: 1px solid #523e5a;
}

.menu .menu__item:hover {
  border-bottom: 2px solid #edbfff;
  background: RGBA(43,34,48,.9);
  padding-bottom: 7px;
}

.slider__artcl {
  text-align: left;
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
  margin-top: 116px;
  padding-left: 10px;
}

.s_artcl__head {
	font-size: 36px;
}

.s_artcl__head2 {
	font-size: 18px;
}

.s_artcl__head2:after{
  content: '';
}

.s_artcl__content {
  display: none;
}  

.slider__content {
  display: none;
}

.slider__content img {
  height: 50px;
}

.slider__bullets {
  text-align: center;
  margin: 0 auto;
  margin-top: 67px;
}

.blogs {
	height: 600px;
}

.blogs__content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  padding-top: 71px;
}

.blogs__artcl {
  display: block;
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
}

.artcl__logo {
  margin-right: 20px;
  height: 30px;
}

.artcl__content {
  vertical-align: top;
  max-width: 220px;
  width: 100%;
  height: auto;
}

.artcl__header {
  font-size: 24px;
}

.artcl__text {
  height: 70px;
  overflow: hidden;
}

.main_content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  height: 734px;
  padding-top: 50px;
}

.main_content__left {
  display: block;
  max-width: 256px;
  text-align: center;
  padding-left: 0px;
  margin-top: 17px;
}

.left__top {
  padding-right: 24px;
}

.left__top:before {
  display: none;
}

.left__header {
  font-size: 24px;
  width: 100px;
  line-height: 24px;
}

.left__text {
  height: 170px;
  padding-right: 0px;
  overflow: hidden;
}

.slider__bullets-main {
  margin: 0;
  margin-top: 26px;
}

.main_content__right {
  display: block;
  max-width: 280px;
  margin-top: 47px;
  margin-left: 0px;
}

.right__text {
  overflow: hidden;
  height: 20px;
}

.right__content_revue {
  margin-left: 60px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.right__content_revue h2:after {
  display: none;
}

.right__content_revue:before {
  left: -60px; 
}

.logos__content {
  max-width: 280px;
  height: 360px;
  padding: 0px;
}

.logos div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.news_line {
  display: none;
} 

.footer__content {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 160px;
  padding-top: 40px;
}

.footer__content .menu-footer {
  display: none;
}

.copyright {
  float: none;
  display: block;
  margin: 0 auto;
}
  
  
}