<form class="bg_color_selector" name="bgSelect" autocomplete="off">
  <div class="bg_color_selector__caption">Выбор фона:</div>
  <input type="radio" name="option" id="bgoption1" value="0" checked />
  <label for="bgoption1" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="bgoption2" value="1" />
  <label for="bgoption2" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="bgoption3" value="2" />
  <label for="bgoption3" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="bgoption4" value="3" />
  <label for="bgoption4" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="bgoption5" value="4" />
  <label for="bgoption5" class="bg_color_selector__lbl"></label>
</form>
