<form class="bg_color_selector" name="bgSelect" autocomplete="off">
  <div class="bg_color_selector__caption">Выбор фона:</div>
  <input type="radio" name="option" id="1" value="0" checked />
  <label for="1" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="2" value="1" />
  <label for="2" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="3" value="2" />
  <label for="3" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="4" value="3" />
  <label for="4" class="bg_color_selector__lbl"></label>
  <input type="radio" name="option" id="5" value="4" />
  <label for="5" class="bg_color_selector__lbl"></label>
</form>
