<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Gallery" />
    <title>Фотогалерея</title>
    <link rel="stylesheet" href="./build/css/style.css" />
    <link
      rel="preload"
      href="./build/fonts/helveticaneuecyr-light-webfont.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="./build/fonts/Bellota-Regular.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="./build/fonts/PTSans-Regular.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="prefetch" href="./build/img/fullsize/img01.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img02.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img03.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img04.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img05.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img06.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img07.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img08.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img09.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img10.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img11.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img12.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img13.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img14.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img15.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img16.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img17.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img18.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img19.webp" as="image" />
    <link rel="prefetch" href="./build/img/fullsize/img20.webp" as="image" />
    <script src="./build/js/script.js" defer=""></script>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Gallery" />
    <meta name="application-name" content="Gallery" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="msapplication-config" content="./browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body></body>
</html>
