@import "modules/variables";
@import "modules/themes";

%invisible_header {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
}

.no_scroll {
  overflow-y: hidden;
}

h2 {
  @extend %invisible_header;
}

.gallery__container {
  columns: 450px auto;
  column-gap: 10px;
  // background-color: var(--background);
}

.gallery__container img {
  width: 100%;
  height: auto;
  margin: 5px 0;
  transition: .8s opacity;
}

.gallery__container:hover img {
  opacity: 0.6;
}

.gallery__container:hover img:hover {
  opacity: 1;
}

.fullscreen_back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: var(--background);
  opacity: 1;
}

.fullscreen_img {
  width: 100vw;
  height: 100%;
  z-index: 100;
  margin-left: 0;
  margin-right: 0;
  object-fit: contain;
  transition: opacity 0.3s;
}

.fullscreen_img-fade_to_right {
  transition: all 0.3s;
  margin-left: 25px;
  opacity: 0;
}

.fullscreen_img-fade_to_left {
  transition: all 0.3s;
  margin-left: -25px;
  opacity: 0;
}

.fullscreen_img_fs {
  object-fit: none;
}

.fs_exif_info {
  position: absolute;
  z-index: 101;
  left: 20px;
  bottom: 30px;
}
