@import "modules/variables";
@import "modules/themes";
@import "modules/readme";

%invisible_header {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-size: 16px;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: calc(var(--base_font_size) + 4px);
}

.no_scroll {
  overflow-y: hidden;
}

h2 {
  @extend %invisible_header;
}

.disclaimer {
  font-size: var(--base_font_size);
}

.gallery__container {
  columns: 450px auto;
  column-gap: 10px;
}

.gallery__container img {
  width: 100%;
  height: auto;
  margin: 5px 0;
  transition: .8s opacity;
}

.gallery__container:hover img {
  opacity: 0.6;
}

.gallery__container:hover img:hover {
  opacity: 1;
}

.fullscreen_back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: var(--fs_background);
  opacity: 1;
}

.fullscreen_back_fs {
  overflow: scroll;
}

.fullscreen_img {
  width: 100vw;
  height: 100%;
  z-index: 100;
  margin-left: 0;
  margin-right: 0;
  object-fit: contain;
  transition: opacity 0.3s;
}

.fullscreen_img-fade_to_right {
  transition: all 0.3s;
  margin-left: 25px;
  opacity: 0;
}

.fullscreen_img-fade_to_left {
  transition: all 0.3s;
  margin-left: -25px;
  opacity: 0;
}

.fullscreen_img_fs {
  height: auto;
  width: auto;
}

.fs_exif_info {
  position: absolute;
  display: block;
  z-index: 101;
  left: 0px;
  right: 0px;
  bottom: 30px;
  padding: 10px;
  background-color: var(--background_color);
  opacity: 0.8;
}

.footer__content {
  height: $siteSize6;
  line-height: $siteSize6;
  font-size: var(--base_font_size) - 2px;
}
