@font-face {
  font-family: 'helvetica neue';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'helvetica neue';  
}


/* HEADER */


.menu {
  height: 35px;
  width: 100vw;
  background-color: #085393;
}

.menu_content {
  margin: 0 auto;
  max-width: 1215px;
  text-align: right;
  font-size: 0;
}

.cl1 {
  display: inline-block; 	
}

.submenu {
  display: inline-block;  
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  color: #60b5ed;
  text-decoration: none;
  vertical-align: bottom;  
}

.submenu:hover {
  background-color: #4eabda;
  color: #fff;
}

.line {
  display: inline-block;
  background-color: #56a2dc;
  margin-top: 2px;
  width: 1px;
  height: 31px;
  vertical-align: top;  
}

.flag {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 17px;
}

.fl_t {
  display: inline-block;
  font-size: 14px;
  padding-top: 9px;
  padding-left: 10px;
  vertical-align: top;
}

.flag img {
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 3px;
}

.flag a {
  color: #fff;
  text-decoration: none; 
}

.flag:hover {
  background-color: #4eabda;
}
 
.reg1 {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  hight: 35px;
  margin-right: 20px;
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #50afdc, #2e7ac4);
  color: #fff;
  border: 1px solid #4c9dd7;
  border-radius: 2px;
  text-align: center;
}

.reg_txt {
  text-decoration: none;
  color: #fff;
}

.reg_txt:hover {
  text-decoration: underline;
}


/* CONTENT */


.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4eabda;
}

.forma {
  position: absolute;
  top: calc(50% - 305px);
  left: calc(50% - 280px);
  width: 560px;
  height: 610px;
}

.forma_header {
  height: 42px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
}

.forma_space {
  height: 3px;
}

.forma_inputs {
  height: 547px;
  background-color: rgba(0, 0, 0, 0.7);
}

.inputs_top {
  
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
}
  
.lines {
  margin-top: 20px;
  margin-bottom: 15px;
} 
  
.line_form {
  display: inline-block;
  width: 124px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #666;
}

.line_txt {
  color: #999;
  font-size: 14px;
}

.i_t {
  width: 276px;
  margin: 0 auto;
}

.inp_txt {
  margin-top: 7px;
  margin-bottom: 6px;
  height: 35px;
}

form .inp_txt {
  background: #0f0e0e;
  border: 0;
  border-bottom: 1px solid #474747;
  padding-left: 15px;
  width: 95%;
  font-size:14px;
  color: #fffbfb;
}

.inp_txt:focus {
  background: #1b5288;
  box-shadow: 0px 0px 3px 3px rgba(105,155,205,1);  
}

.cur:hover, .sub_btn:hover {
  cursor: pointer;
}
  
.check_txt {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #ccc;
  font-size: 14px;
}

.sub_btn {
  width: 150px;
  height: 35px;
  background: linear-gradient(to bottom, #4faddb, #2e7ac4);
  border: 1px solid #6bb8e7;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}
  
.form_btn {
  margin-bottom: 25px;
  text-align: center;
}

.legal_txt {
  color: #ccc;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}