.wrapper, body header, body .tasks, body .service {
  width: 960px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px; }

.button, body .tasks .tasks__task .tasks__edt, body .tasks .tasks__task .tasks__rmv, body .service .service__add {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 14px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  font-weight: bold; }
  .button:hover, body .tasks .tasks__task .tasks__edt:hover, body .tasks .tasks__task .tasks__rmv:hover, body .service .service__add:hover {
    background: rgba(0, 0, 90, 0.3); }

body {
  background: #eee; }
  body header {
    font-size: 22px;
    background: #8a8a8a;
    color: #fff;
    text-align: center;
    height: 70px;
    padding-top: 40px; }
  body .tasks .tasks__task {
    height: 34px;
    padding-left: 10px;
    vertical-align: top;
    font-size: 0; }
    body .tasks .tasks__task .tasks__txt {
      display: inline-block;
      width: 885px;
      padding-top: 9px;
      font-size: 14px; }
    body .tasks .tasks__task .tasks__edt {
      border: 2px solid #1c2c71;
      color: #1c2c71;
      line-height: 20px;
      margin-top: 3px;
      font-size: 20px;
      vertical-align: top; }
    body .tasks .tasks__task .tasks__rmv {
      border: 2px solid #c22;
      color: #c22;
      line-height: 20px;
      margin-top: 3px;
      margin-left: 2px; }
    body .tasks .tasks__task:nth-child(even) {
      background: #ccc; }
  body .service {
    box-sizing: border-box;
    background: #8a8a8a;
    height: 35px;
    padding-top: 4px;
    padding-left: 5px;
    vertical-align: top; }
    body .service .service__input {
      height: 19px;
      padding-left: 5px;
      font-size: 14px;
      margin-top: -1px;
      width: 901px;
      margin-top: 1px; }
    body .service .service__add {
      line-height: 24px;
      color: #22cc22;
      border: 2px solid #22cc22;
      margin-left: 5px;
      vertical-align: top; }
    body .service .service__edt {
      color: #1c2c71;
      border: 2px solid #1c2c71;
      font-size: 18px; }
