body {
  background-color: gray;
  box-sizing: border-box;
  font-size: 0;
  min-width: 320px;
}

.wrapper {
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  background-color: yellow;
}

.header {
  background-color: green;
  height: 100px;
  margin-bottom: 10px;
}

.footer {
  height: 100px;
  grid-column: 1 / 3;
  background-color: red;
}

.nav, .informers {
  height: 140px;
  grid-column: 1 / 2;
}

.nav {
  background-color: #f6f;
}

.informers {
  background-color: #1ff;
}

.main {
  background-color: blue;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.main div {
  height: 100%;
  width: auto;
  background-image: url(slide2.jpg);
  background-size: cover;
}
/*div::after {
  content: attr(class);
  font-size: 16px;
}*/

img {

}

@media screen and (max-width: 900px) {
  .header {
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .container div {
    grid-column: 1 / 2;
  }

  .nav {
    height: 30px;
    grid-row: 1 / 2;
  }

  .main {
    height: 400px;
    grid-row: 2 / 3;
  }

  .informers {
    height: 80px;
    grid-row: 4 / 5;
  }
}
