body {
  --bg-color: 19%;
  --theme-color: 130;
  --color: hsl(var(--theme-color), 85%, 64%);
  --background-color: hsl(var(--theme-color), 40%, 10%);
  --background: hsl(0, 0%, var(--bg-color));
  color: var(--color);
  background-color: var(--background-color); }

.theme_selector, .bg_color_selector, .exif_checker {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }

.theme_selector {
  height: 25px; }

.theme_selector__btn {
  width: 80px;
  height: 25px;
  margin: 3px;
  line-height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer; }

.bg_color_selector, .exif_checker {
  height: 20px; }

.bg_color_selector__btn {
  width: 40px;
  height: 20px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer; }

h2 {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0); }

body {
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center; }

.no_scroll {
  overflow-y: hidden; }

.gallery__container {
  -moz-columns: 450px auto;
  columns: 450px auto;
  -moz-column-gap: 10px;
  column-gap: 10px; }

.gallery__container img {
  width: 100%;
  height: auto;
  margin: 5px 0;
  transition: .8s opacity; }

.gallery__container:hover img {
  opacity: 0.6; }

.gallery__container:hover img:hover {
  opacity: 1; }

.fullscreen_back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: var(--background);
  opacity: 1; }

.fullscreen_img {
  width: 100vw;
  height: 100%;
  z-index: 100;
  margin-left: 0;
  margin-right: 0;
  -o-object-fit: contain;
  object-fit: contain;
  transition: opacity 0.3s; }

.fullscreen_img-fade_to_right {
  transition: all 0.3s;
  margin-left: 25px;
  opacity: 0; }

.fullscreen_img-fade_to_left {
  transition: all 0.3s;
  margin-left: -25px;
  opacity: 0; }

.fullscreen_img_fs {
  -o-object-fit: none;
  object-fit: none; }

.fs_exif_info {
  position: absolute;
  z-index: 101;
  left: 20px;
  bottom: 30px; }
