@font-face {
  font-family: theme1_font;
  src: url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: theme3_font;
  src: url("../fonts/Bellota-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: theme2_font;
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  --fs_bg_color: 19%;
  --fs_background: hsl(0, 0%, var(--fs_bg_color));
  --color: #f6da73;
  --background_color: #3e5336;
  --decor_color: #e55b7e;
  --base_font_size: 16px;
  --font_family: theme1_font;
  color: var(--color);
  background-color: var(--background_color);
  font-size: var(--base_font_size);
  font-family: var(--font_family); }

.theme_selector, .bg_color_selector, .exif_checker {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  @media screen and (min-width: 800px) {
    .theme_selector, .bg_color_selector, .exif_checker {
      justify-content: flex-start; } }

.theme_selector {
  height: 25px; }

.theme_selector__caption, .bg_color_selector__caption, label {
  text-align: left;
  font-size: var(--base_font_size); }

.theme_selector__caption {
  flex-basis: 50px;
  flex-grow: 0; }
  @media screen and (min-width: 800px) {
    .theme_selector__caption {
      flex-grow: 1; } }

.theme_selector__btn {
  width: 80px;
  height: 25px;
  margin: 3px;
  padding: 0;
  border: 2px solid var(--decor_color);
  border-radius: 3px;
  cursor: pointer; }

.bg_color_selector, .exif_checker {
  height: 20px; }

.bg_color_selector__btn {
  width: 40px;
  height: 20px;
  margin: 3px;
  border: 2px solid var(--decor_color);
  border-radius: 3px;
  cursor: pointer; }

.readme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  border: 2px solid var(--decor_color);
  border-radius: 5px;
  background: var(--background_color);
  opacity: 0.9;
  text-align: center;
  font-size: var(--base_font_size);
  line-height: calc(var(--base_font_size) + 2px); }
  @media screen and (min-width: 800px) {
    .readme {
      width: 400px;
      line-height: calc(var(--base_font_size) + 4px); } }
  .readme .readme__message {
    max-height: 320px;
    overflow-y: auto;
    padding: 10px 0;
    text-align: left; }
  .readme .readme__button {
    margin-top: 10px;
    padding: 4px calc(var(--base_font_size) - 4px);
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--background_color);
    background-color: var(--decor_color);
    border: 1px solid var(--color);
    border-radius: 2px;
    font-size: var(--base_font_size);
    line-height: calc(var(--base_font_size) + 2px);
    font-family: var(--font_family);
    cursor: pointer; }
    .readme .readme__button:hover {
      color: var(--color);
      background-color: var(--background_color);
      border: 1px solid var(--decor_color);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.checkbox {
  position: absolute;
  opacity: 0; }
  .checkbox:active + label::after, .checkbox:focus + label::after {
    outline-style: solid;
    outline-offset: 1px;
    outline-color: inherit;
    outline-width: thin; }

.check_line label {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.check_icon {
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: -5px;
  right: -25px;
  z-index: 20; }

.check_line label::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -25px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--decor_color);
  border-radius: 2px;
  background: var(--background_color);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.checkbox:checked + label .check_icon {
  display: block; }

h2 {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0); }

body {
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  font-size: 16px; }

h1 {
  font-size: calc(var(--base_font_size) + 4px); }

.no_scroll {
  overflow-y: hidden; }

.gallery_settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .gallery_settings label, .gallery_settings .checkbox {
    cursor: pointer; }
  .gallery_settings .disclaimer {
    font-size: var(--base_font_size);
    line-height: calc(var(--base_font_size) + 8px); }
    @media screen and (min-width: 800px) {
      .gallery_settings .disclaimer {
        text-align: right; } }

.gallery__container {
  -moz-columns: 450px auto;
  columns: 450px auto;
  -moz-column-gap: 10px;
  column-gap: 10px; }
  .gallery__container img {
    width: 100%;
    height: auto;
    margin: 5px 0;
    transition: .8s opacity; }
  .gallery__container:hover img {
    opacity: 0.6; }
  .gallery__container:hover img:hover, .gallery__container:hover img:focus {
    opacity: 1; }

.fullscreen_back {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--fs_background);
  opacity: 1; }

.fullscreen_back_fs {
  overflow: scroll; }

.fullscreen_img {
  width: 100vw;
  height: 100%;
  z-index: 100;
  margin-left: 0;
  margin-right: 0;
  -o-object-fit: contain;
  object-fit: contain;
  transition: opacity 0.3s;
  transform-origin: left top; }

.fullscreen_img-appear {
  opacity: 0; }

.fullscreen_img-fade_to_right {
  transition: all 0.3s;
  margin-left: 35px;
  opacity: 0; }

.fullscreen_img-fade_to_left {
  transition: all 0.3s;
  margin-left: -35px;
  opacity: 0; }

.fs_exif_info {
  position: absolute;
  display: block;
  z-index: 101;
  left: 0px;
  right: 0px;
  bottom: 30px;
  padding: 10px;
  background-color: var(--background_color);
  opacity: 0.8; }

.footer__content {
  height: 28px;
  line-height: 28px;
  font-size: var(--base_font_size)-2px; }
