body {
  font-family: sans-serif;
  color: grey;
  text-align: center;
  padding: 0;
  margin: 0; }

.box1, .box2, .box3 {
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 70px;
  background-color: grey; }

.box2 {
  box-shadow: blue 3px 3px; }
