<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Homework 13</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script13.js"></script>
</head>

<body>
	<div class="header"><h3>Тест по математике</h3>
	</div>
	<form action="">
		<div class="formContent">
			<script type="text/template" id="tmplt">
					<% for (var i=0; i<data.length; i++) {%>
						<div class="questionText">
							<h4><%= (i+1) + ". " + data[i].questionText %></h4>
							<% for (var j=0; j<data[i].questionOptions.length; j++) {%>
								<div class="option">
									<input type="checkbox" name=<%= "Вопрос" + (i+1) %> value= <%= "Ответ" + (j+1)%> id=<%= (i+1)*10 + (j+1) %> />
									<label for=<%= (i+1)*10 + (j+1) %>><%= data[i].questionOptions[j] %></label>
								</div>
							<%};%>
						</div>
					<%};%>
			</script>
		</div>
		<div class="formButton">
			<input class="submitButton" type="submit" value="Проверить мои ответы"/>
		</div>
	</form>
	<div class="resultsBack"></div>
	<div class="resultsMessage">
		<div class="message"></div>
		<button class="messageButton">ОК</button>
	</div>
</body>
</html>
