body {
  font-family: sans-serif;
}

.wrapper {
  width: 620px;
  margin: 50px auto;
  text-align: center;
  font-size: 20px;
}

table {
  margin-top: 20px;
}

.star {
  height: 20px;
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
}

.star td, th {
  width: 120px;
}

.name {
  font-weight: bold;
}