@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff"), url("../fonts/ubuntu-r-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url("../fonts/ubuntu-c-webfont.eot");
  src: url("../fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff"), url("../fonts/ubuntu-c-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-header_logo11 {
  background-image: url(../img/header__sprite.png);
  background-position: -48px 0px;
  width: 8px;
  height: 16px; }

.icon-header_logo12, header .header__social .icon-header_logo11:hover {
  background-image: url(../img/header__sprite.png);
  background-position: -48px -16px;
  width: 8px;
  height: 16px; }

.icon-header_logo21 {
  background-image: url(../img/header__sprite.png);
  background-position: 0px -31px;
  width: 17px;
  height: 13px; }

.icon-header_logo22, header .header__social .icon-header_logo21:hover {
  background-image: url(../img/header__sprite.png);
  background-position: -17px -31px;
  width: 17px;
  height: 13px; }

.icon-header_logo31 {
  background-image: url(../img/header__sprite.png);
  background-position: 0px -16px;
  width: 16px;
  height: 15px; }

.icon-header_logo32, header .header__social .icon-header_logo31:hover {
  background-image: url(../img/header__sprite.png);
  background-position: -16px -16px;
  width: 16px;
  height: 15px; }

.icon-header_logo41 {
  background-image: url(../img/header__sprite.png);
  background-position: -32px 0px;
  width: 16px;
  height: 15px; }

.icon-header_logo42, header .header__social .icon-header_logo41:hover {
  background-image: url(../img/header__sprite.png);
  background-position: -32px -15px;
  width: 16px;
  height: 15px; }

.icon-header_logo51 {
  background-image: url(../img/header__sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px; }

.icon-header_logo52, header .header__social .icon-header_logo51:hover {
  background-image: url(../img/header__sprite.png);
  background-position: -16px 0px;
  width: 16px;
  height: 16px; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-footer_mail, footer .footer__contacts .contacts__content .contacts__email::before {
  background-image: url(../img/footer__sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 12px; }

.icon-footer_phone, footer .footer__contacts .contacts__content .contacts__phone::before {
  background-image: url(../img/footer__sprite.png);
  background-position: -16px 0px;
  width: 10px;
  height: 16px; }

.icon-footer_place, footer .footer__contacts .contacts__content .contacts__adress::after {
  background-image: url(../img/footer__sprite.png);
  background-position: 0px -12px;
  width: 12px;
  height: 16px; }

.content, header, .mycarousel, .articles, .services .services__content, .news .news__content, .logos, footer .footer__content, footer .footer__contacts .contacts__content {
  width: 1160px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 12px; }

header .header__logo {
  width: 210px;
  height: 45px;
  margin-top: 50px;
  margin-bottom: 40px;
  float: left; }
  header .header__logo .logo__text {
    font-family: "ubunturegular";
    display: inline-block;
    padding-left: 2px;
    height: 45px;
    vertical-align: top;
    line-height: 16px; }
    header .header__logo .logo__text .logo__text1 {
      font-size: 30px; }
    header .header__logo .logo__text .logo__text2 {
      font-size: 12px;
      letter-spacing: 3px; }

header .header__social {
  float: right;
  height: 45px;
  margin-top: 50px; }
  header .header__social .icon__social {
    display: inline-block;
    vertical-align: middle;
    margin: 5px; }
  header .header__social .icon__social:hover {
    cursor: pointer; }

header .menu {
  height: 60px;
  clear: both;
  background: #2a2d32; }
  header .menu .menu__item {
    height: 60px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: bottom;
    border-right: 1px solid #181a1d;
    font-family: "ubuntu_condensedregular";
    font-size: 14px; }
    header .menu .menu__item a {
      margin-top: 23px;
      text-decoration: none;
      color: #fff;
      display: inline-block; }
    header .menu .menu__item a:hover {
      color: #f4b60d; }
  header .menu .menu__item:first-of-type {
    background: #248cec; }
  header .menu .menu__search {
    height: 32px;
    width: 240px;
    margin-left: 370px;
    padding-left: 15px;
    vertical-align: top;
    margin-top: 12px;
    border: 1px solid #181a1d;
    background-color: #35383c;
    background-image: url(../img/header_search.png);
    background-position: 230px 10px;
    background-repeat: no-repeat;
    color: #ccc; }

.mycarousel {
  margin-top: 30px;
  border: 0 solid black; }

.articles {
  margin-top: 30px;
  height: 180px; }
  .articles .article {
    display: inline-block;
    width: 363.66667px;
    margin-left: 30px; }
    .articles .article .article__number {
      display: inline-block;
      width: 100px;
      vertical-align: top;
      font-family: "ubunturegular";
      font-size: 90px;
      line-height: 60px;
      color: #ccc; }
    .articles .article .article__content {
      display: inline-block;
      vertical-align: top;
      padding-left: 20px; }
      .articles .article .article__content .article__logo {
        height: 35px; }
      .articles .article .article__content .article__title {
        font-family: "ubunturegular";
        font-size: 20px; }
      .articles .article .article__content .article__text {
        margin-top: 15px;
        width: 240px;
        font-size: 13px; }
      .articles .article .article__content .article__link {
        margin-top: 10px; }
        .articles .article .article__content .article__link a {
          font-family: "ubunturegular";
          font-size: 13px;
          color: #181a1d;
          text-decoration: none; }
        .articles .article .article__content .article__link .article__arrow {
          color: #248cec; }
        .articles .article .article__content .article__link a:hover {
          color: #248cec; }
          .articles .article .article__content .article__link a:hover .article__arrow {
            color: #ccc; }
  .articles .article:first-of-type {
    margin-left: 0; }

.services {
  height: 500px;
  background: #2a2d32;
  padding-top: 35px; }
  .services .services__content {
    font-size: 24px;
    color: #fff;
    font-family: "ubunturegular"; }
    .services .services__content .service__article {
      display: inline-block;
      padding-top: 70px;
      width: 260px;
      margin-left: 34px; }
      .services .services__content .service__article .service__link {
        text-decoration: none;
        color: #fff; }
        .services .services__content .service__article .service__link .service__text {
          font-family: "ubunturegular";
          font-size: 16px;
          text-align: center;
          padding-top: 20px; }
        .services .services__content .service__article .service__link .service__picture {
          position: relative; }
        .services .services__content .service__article .service__link .service__picture::after {
          content: '+';
          font-size: 60px;
          padding-top: 90px;
          text-align: center;
          position: absolute;
          left: 0px;
          top: 0px;
          width: 260px;
          height: 170px;
          background: #248cec;
          z-index: 20;
          opacity: 0.9;
          display: none; }
    .services .services__content .service__article:first-of-type {
      margin-left: 0; }
    .services .services__content .service__link:hover .service__text {
      color: #f4b60d; }
    .services .services__content .service__link:hover .service__picture::after {
      display: block; }

.news {
  height: 540px;
  background: #f7f7f7; }
  .news .news__content div {
    width: 563px;
    display: inline-block;
    font-family: "ubunturegular";
    font-size: 24px;
    color: #2a2d32;
    padding-top: 20px;
    vertical-align: top; }
  .news .news__content .news__latest .news__article {
    height: 150px;
    margin-top: 20px; }
    .news .news__content .news__latest .news__article .news__picture {
      display: inline-block;
      width: 150px;
      position: relative; }
    .news .news__content .news__latest .news__article .news__picture::before {
      content: 'Jan';
      font-size: 15px;
      padding-top: 10px;
      text-align: center;
      position: absolute;
      color: #fff;
      font-family: "ubunturegular";
      left: -10px;
      top: 30px;
      width: 30px;
      height: 20px;
      background: #248cec;
      z-index: 20; }
    .news .news__content .news__latest .news__article .news__picture::after {
      content: '';
      font-size: 18px;
      padding-top: 5px;
      text-align: center;
      position: absolute;
      color: #2a2d32;
      font-family: "ubunturegular";
      left: -10px;
      top: 60px;
      width: 30px;
      height: 20px;
      background: #f4b60d;
      z-index: 20; }
    .news .news__content .news__latest .news__article .news__text {
      display: inline-block;
      width: 385px;
      padding-left: 20px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      color: #8a8a8a;
      line-height: 20px; }
      .news .news__content .news__latest .news__article .news__text .news__header {
        font-family: "ubunturegular";
        font-size: 16px;
        margin-bottom: 10px; }
        .news .news__content .news__latest .news__article .news__text .news__header a {
          text-decoration: none;
          color: #2a2d32; }
        .news .news__content .news__latest .news__article .news__text .news__header a:hover {
          color: #248cec; }
      .news .news__content .news__latest .news__article .news__text span {
        color: #248cec; }
  .news .news__content .news__latest .news__article:first-of-type .news__picture::after {
    content: '23'; }
  .news .news__content .news__latest .news__article:last-of-type .news__picture::after {
    content: '21'; }
  .news .news__content .news__banners {
    margin-left: 30px; }
  .news .news__banners .accordion {
    height: 40px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
    background: #fff;
    font-family: "ubunturegular";
    font-size: 13px;
    padding-top: 13px;
    position: relative; }
  .news .news__banners .accordion::after {
    content: "+";
    text-align: center;
    font-size: 15px;
    padding-top: 12px;
    display: inline-block;
    width: 30px;
    height: 26px;
    border-right: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0; }
  .news .news__banners .active {
    background: #f4b60d;
    margin-top: 60px; }
  .news .news__banners .active::after {
    content: "-"; }
  .news .news__banners .accordion__content {
    font-family: Arial, sans-serif;
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px; }

.logos {
  height: 170px;
  padding-top: 70px;
  text-align: center; }
  .logos img {
    margin: 20px; }

footer {
  background: #2a2d32;
  height: 390px; }
  footer .footer__content {
    height: 330px; }
    footer .footer__content .footer__list {
      display: inline-block;
      padding-top: 50px;
      width: 260px;
      margin-left: 34px;
      font-family: "ubunturegular";
      font-size: 16px;
      color: #fff; }
      footer .footer__content .footer__list .footer__links {
        padding-top: 40px; }
        footer .footer__content .footer__list .footer__links .footer__link {
          height: 35px;
          width: 100%;
          padding-top: 10px;
          border-bottom: 1px solid #888; }
          footer .footer__content .footer__list .footer__links .footer__link a {
            font-size: 13px;
            text-decoration: none;
            color: #888; }
          footer .footer__content .footer__list .footer__links .footer__link a:hover {
            color: #248cec; }
        footer .footer__content .footer__list .footer__links .footer__link:last-of-type {
          border-bottom: 0px solid #35383c; }
    footer .footer__content .footer__list:first-of-type {
      margin-left: 0; }
  footer .footer__contacts {
    height: 60px;
    background: #35383c; }
    footer .footer__contacts .contacts__content {
      color: #888;
      padding-top: 25px; }
      footer .footer__contacts .contacts__content span {
        padding-left: 10px;
        margin-left: 30px;
        position: relative; }
      footer .footer__contacts .contacts__content .contacts__adress::after {
        position: absolute;
        top: 0px;
        left: -14px;
        content: ''; }
      footer .footer__contacts .contacts__content .contacts__email::before {
        position: absolute;
        top: 0px;
        left: -12px;
        content: ''; }
      footer .footer__contacts .contacts__content .contacts__phone::before {
        position: absolute;
        top: -3px;
        left: -9px;
        content: ''; }
      footer .footer__contacts .contacts__content .contacts__copy {
        display: inline-block;
        float: right; }
